body{
    height:100vh;
    margin:0;
}

#container{
    overflow:hidden;
    position:relative;
    top: 10vh;
    left: 40vw;
    height:13.05vw;
    width: 25.044vw;
}

#plane{
    background:url(../img/plane.png) no-repeat;
    background-size:25vw;
    height:100%;
    width: auto;
    position: relative;
}

#blade{
    animation: blader 0.3s linear 0s infinite;
    -moz-animation: blader 0.3s linear 0s infinite;
    -webkit-animation: blader 0.3s linear 0s infinite;
    background:url(../img/blade.png) no-repeat;
    background-size:1vw;
    height: 61.3%;
    width: auto;
    position: relative;
    top: -11.05vw;
    left: 0.15vw;
}

@keyframes blader{
    0%{
        transform: rotateX(0deg);
    }
    100%{
        transform:rotateX(360deg);
    }
}


.bg{
    overflow-x:hidden;
    position: absolute;
    left: -277.20vh;
    right: 0;
    top: 0;
    bottom: 0;
	background: url(../img/bg.jpg) 0% 0% repeat-x;
    z-index: -1;
    background-size: auto 100vh;
    animation: bgmove 5s linear 0s infinite;
    -moz-animation: bgmove 5s linear 0s infinite;
    -webkit-animation: bgmove 5s linear 0s infinite;
}

.bg-container{
    position: absolute;
    overflow:hidden;
    height:100vh;
    width:100vw;
}

  @-webkit-keyframes bgmove {
    from {
      -webkit-transform: translateX(0vh);
    }
    to { 
      -webkit-transform: translateX(277.20vh);
    }
 }
 